html {
	scroll-behavior: smooth;
}

.common-header {
  border-bottom: none;
}

@media screen and (max-width: 1024px) {
  .tableOfContentContainer {
      display: none !important;
  }
}

@media only screen and (min-width: 1025px) {
  div.article-nav {
    display: grid;
    grid-template-columns: 42em 15rem;
    max-width: 100em;
    width: 90%;
    margin: auto 0;
  }
}

.tableOfContentContainer {
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
  align-self: start;
  font-size: smaller;
  border-left: 2px solid #efefef;
  margin-left: 5px;
}

.tableOfContentContainer > nav > ul {
  list-style-type: none;
  list-style: none;
  padding-left: 20px;
  padding-right: 0;
}

.tableOfContentContainer > h3 {
  padding-left: 20px;
}

.highlight:hover .highlight-copy-btn {
  transition: 0.5s;
  box-shadow: 0 0 10px #eee;
  display: block;
  background-color: inherit;
  border-radius: 5px;
  border: 1px solid #a31d1d;
}
.highlight-copy-btn:hover {
  background-position: right center; /* change the direction of the change here */
  border: 1px solid #a31d1d;
}

code:not(pre *) {
  background-color: inherit;
  color: inherit;
  border-radius: 5px;
  border: 1px solid #a31d1d;
  padding: 1px 5px;
}
